* {
    padding: 0; 
    margin: 0;
    list-style:0;
    text-decoration:none;
}
body {
    justify-content: center;
    align-items: center;
}
.loginBox {
    background-color: rgb(236, 230, 230);
    height: 50vh;
    width: 200vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px ;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2); 
    margin: 200px;
    text-align: center;
}
.registerBox {
    background-color: rgb(236, 230, 230);
    height: 110vh;
    width: 200vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px ;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2); 
    margin: 200px;
    text-align: center;
    
}
.form-control {
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2); 
}

.form-select {
  border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2); 
}
/* school-picture */
.img-fluid {
  border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2); 
}

/* button */

.button-1 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-1:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-1:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-1:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  } 

  /* table */


 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 /* body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#1F2739;
 } */
 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
 }
 
 h2 {
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #FB667A;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .container th h1 {
     font-weight: bold;
     font-size: 1em;
   /* text-align: left; */
   color: #185875;
 }
 
 .container td {
     font-weight: normal;
     font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119;

 }
 
 .container {
     text-align: center;
     overflow: hidden;
     width:auto; 

   border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px ;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2); 
 }
 
 .container td, .container th {
     padding-bottom: 2%;
     padding-top: 2%;
   /* padding-left:2%;   */
   width:auto; 
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
     background-color: #e7edfa;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
     background-color: #a6c0fc;
 }
 
 .container th {
     background-color: #adc1f0;
 }
 
 .container td:first-child { color: #FB667A; }
 
 .container tr:hover {
    background-color: #e0e1e4;
 /* -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119; */
 }
 
 .container td:hover {
   /* background-color: #c2e8ff;
   color: #403E10;
   font-weight: bold; */
   
   /* box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px; */
   transform: translate3d(6px, -6px, 0);
   border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px ;
   transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }